body{
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}

h1{
    font-variant: all-petite-caps;
    background-color: red;
}

a:hover{
    border: 5px solid yellow;
}

.stippeltjesrand{
    border: 1px dashed white;
}